<%- include('partials/sidepane') %>
<%- include('partials/topbar') %>
 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Approvals</h1>
     
    </div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">Approvals <Table></Table></h6>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Company Name </th>
      <th>Timestamp</th>
      <th>IMEI NO </th>
      <th>Mobile No</th>
      <th>Trader Name</th>
      <th>Action</th>
      
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Tender Cuts</td>
      <td>21/11/2019</td>
      <td>454555655554545454545</td>
      <td>9597376542</td>                   
      <td>Anandh Traders</td>
      <td><input type="checkbox"></td>
    </tr><tr>
      <td>Fipola</td>
      <td>23/11/2019</td>
      <td>45455547755554545454545</td>
      <td>94597376542</td>                   
      <td>Kathir Traders</td>
      <td><input type="checkbox"></td>
    </tr><tr>
      <td>Suguna Chickens</td>
      <td>22/11/2019</td>
      <td>874555655554545454545</td>
      <td>9797376542</td>                   
      <td>Hari Traders</td>
      <td><input type="checkbox"></td>
    </tr><tr>
      <td>Chick Punch</td>
      <td>21/11/2019</td>
      <td>554555655554545454545</td>
      <td>9297376542</td>                   
      <td>Vinoth Traders</td>
      <td><input type="checkbox"></td>
    </tr>
    
  </tbody>
</table>
<a href="#" class="btn btn-primary btn-user btn-block">
  Approve
</a>
</div>
</div>
</div>

</div>
