<%- include('partials/sidepane') %>
<%- include('partials/topbar') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
             
            </div>
  
            <!-- Content Row -->
            <div class="row">
  
              <!--  Card 1  -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Live Devices</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">120</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Card 2 Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Wating For Approvals</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">12000</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-wave-square fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Approved Devices</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">45</div>
                          </div>
                          <div class="col">
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Pending Requests Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Traders </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Content Row -->
  
            <div class="row">
  
              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                
              <!-- Bar Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Transactions Report</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myBarChart">
                    </canvas>
                  </div>
                </div>
              </div>
              </div>
  
              <div class="card shadow mb-2">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Traders</h6>
                </div>
              <div class="col-auto col-auto">
               
                              <!-- Card Body -->
                              <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                  <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                  <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> Trader 1
                                  </span>
                                  <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Trader 2
                                  </span>
                                  <span class="mr-2">
                                    <i class="fas fa-circle text-info"></i> Trader 3
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
          

 <!-- Page level custom scripts -->
 <script src="js/demo/chart-bar-demo.js"></script>
 <script src="js/demo/chart-pie-demo.js"></script>