<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Poultry Web server</title>

  <!-- Bootstrap core CSS -->
  <link href="/startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/startbootstrap-scrolling-nav-gh-pages/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Company Name </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Poultry Weighing Scale Web server</h1>
      <p class="lead">Monitoring and Maintaining Weighing Scale Transaction</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead"></p>
          <ul>
                Innospace Automation Is a company catering needs of Industries and consumers to utilize the wireless technology to endeavour their process & operations easy & efficient. Innospace exclusive in customization or special purpose designs of products with our Own R&D team which is highly following all the international Standards to meet the Testing & Certifications. Innospace Provides Excellent after Sales Service support very fast & error free for all our standard and tailor made products as well.
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Do you need any help with your radio remote control system and customized products? Do not worry, we gladly offer you our services. Please contact us, submit a service order. You can also download our product  technical data sheets and manuals. Were you unable to find what you need? Please do not hesitate to Contact us. Please scroll down to Submit Ticket.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">CHENNAI OFFICE
                No:5,Muthumariamman Kovil St, Kesavardhini,Valasaravakkam, Chennai, Tamil Nadu, India. Pincode: 600087
                +91-44-45550419   +91-9884154552
                info@innospace.co.in
               
               
               PUNE OFFICE
                Plot No: 150, Sec No: 10 Pcntda, Bhosari, Pune, Maharashtra, India. Pincode: 411026
                +91-7757054528
                info@innospace.co.in</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Innospace Automation &copy;  2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/startbootstrap-scrolling-nav-gh-pages/vendor/jquery/jquery.min.js"></script>
  <script src="/startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/startbootstrap-scrolling-nav-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/startbootstrap-scrolling-nav-gh-pages/js/scrolling-nav.js"></script>

</body>

</html>
