<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Poultry Webservice</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-auto col-auto col-auto">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body col-md">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col">
                <div class="p-5" >
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <script src="./js/login.js"> </script>
                  <form class="user" id="check" name="poultrylogin" method="POST" > 
                    <div class="form-group">
          <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                 </div>
                    <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck">
                   <label class="custom-control-label" for="customCheck">Remember Me</label>
                 </div>
                    </div>
                    <div id="Submit" onclick="validate()" onkeypress="return keyPress(event)" class="btn btn-primary btn-user btn-block">
                      Login
                    </div>
                    <hr>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/forget">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/signup">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
