<%- include('partials/sidepane') %>
<%- include('partials/topbar') %>
<div class="container-fluid"></div>
<!-- Page Heading -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 col-auto">
  <h1 class="h3 mb-0 text-gray-800">Notifications  </h1>
</div>