<%- include('partials/sidepane') %>
<%- include('partials/topbar') %>
 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4 col-auto">
    <h1 class="h3 mb-0 text-gray-800">Weighing Scale Records</h1>
   
  </div>

<!-- Bar Chart -->
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary">Transactions Report</h6>
</div>
<div class="card-body col-auto">
<div class="chart-bar col-auto">
<canvas id="myBarChart">
</canvas>
</div>
</div>
</div>
</div>
<script src="js/demo/chart-bar-demo.js"></script>